<div class="container">
  <h2>لطفا یک گذرواژه برای حساب خود اضافه کنید</h2>
  <form id="passwordForm" action="/auth/set-password" method="post">
    <input type="hidden" name="email" value="<%= email %>">
    <div class="input-group">
      <label for="password">گذرواژه</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="input-group">
      <label for="confirmPassword">تکرار گذرواژه</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required />
    </div>
    <button type="submit">تایید</button>
    <p id="error-message" style="color: red;"></p>
  </form>
</div>
<script>
  document.getElementById('passwordForm').addEventListener('submit', function(event) {
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    const errorMessage = document.getElementById('error-message');

    if (password !== confirmPassword) {
      event.preventDefault();
      errorMessage.textContent = 'گذرواژه‌ها با هم مطابقت ندارند.';
    } else {
      errorMessage.textContent = '';
    }
  });
</script>
