<!-- <nav>
  <section>
    <ul>
      <li><a href="/users-setting">مدیریت کاربران</a></li>
      <li><a href="/website-desigen">مدیریت ظاهر سایت</a></li>
      <li><a href="/weblog-setting">مدیریت مطالب وبلاگ</a></li>
      <li><a href="/post/create">افزودن محصول</a></li>
      <li><a href="/panel/products">نمایش محصولات</a></li>
    </ul>
  </section>
</nav> -->

<nav id="sidebar">
  <ul>
    <li class="nav-item">
      <a href="#"> مدیریت محصولات</a>
      <ul class="submenu">
        <li><a href="/post/create">ثبت</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#"> مدیریت وبلاگ</a>
      <ul class="submenu">
        <li><a href="#">ثبت</a></li>
        <li><a href="#">ویرایش</a></li>
        <li><a href="#">حذف</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#"> مدیریت کاربران</a>
      <ul class="submenu">
        <li><a href="#">ثبت کاربر جدید</a></li>
        <li><a href="#">حذف</a></li>
        <li><a href="#">ویرایش پروفایل کاربری</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#"> تنظیمات ظاهری وب سایت</a>
      <ul class="submenu">
        <li><a href="#">لوگو</a></li>
        <li><a href="#">رنگ بندی</a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a href="#"> تنظیمات هدر و فوتر</a>
      <ul class="submenu">
        <li>
          <a href="#">تنظیمات منو</a>
          <ul class="submenu">
            <li><a href="#">درج</a></li>
            <li><a href="#">حذف</a></li>
            <li><a href="#">ویرایش</a></li>
          </ul>
        </li>
        <li><a href="#">ویرایش فوتر</a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a href="#"> فرم ها</a>
      <ul class="submenu">
        <li><a href="#">ثبت فرم جدید</a></li>
        <li><a href="#">حذف</a></li>
        <li><a href="#">ویرایش</a></li>
        <li><a href="#">صندوق دریافت فرم ها</a></li>
      </ul>
    </li>
  </ul>
<a href="/auth/logout">خروج از حساب</a>

</nav>